/* style.css for Monstercons */

* { /* reset */
    
    padding: 0;
    margin: 0;
    font-size: 100%;
    
}

/* Golden Section Font-Size Ratio via Modular Scale

1em
1.618em
2.618em
4.236em
6.854em


*/

body {

    font-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #343434; /* was #484848 */
    
}

header {
    
    text-align: center;
    padding: 50px;
    
}


h2, nav {
    
    position: relative; 
    right: 20px;    /* so it looks in line with the img */
    
}


nav {
 
    padding-top: 20px;
}


nav ul li {
    
    display: inline;
    padding: 0 3px;
    
}

nav img {
    
    width: 35px;
/*    opacity: 0.3;*/
}


a {
    
    text-decoration: none;
    color: #428bca;
    
}

a:hover {
    
    color: #27236A;
    border-bottom: 1px solid #27236A;
    
}

nav a:hover {
    
    border: none;
    
}

nav .email:hover {
    
        opacity: 0.6;
    
}


a.showme {
    
    font-size: 0.7em;
    
}

img.logo {
    
    width: 600px;
    margin: auto;
    display: block;
}

/* changed to image

h1 {
    
    font-family: "fatfrank", sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
   
}
*/

header h1 {
    
    display: none;
}


h2 {

    font-size: 1em;
    padding-top: 25px;

}

h2, p {
    
    font-weight: 400;
}


section {
    
    padding: 100px;
    overflow: hidden; /* keeps floating stuff inside section*/
    
}


section.about {
    
    width: 600px;
    margin: auto;
    line-height: 1.3;

}


section.about p {
    
        font-size: 1.8em;
        font-weight: 100; 
    
}

section.about p.paragraph2 {
    
    padding-top: 50px;
    
}

section.about p.paragraph2 {
    
    font-size: 1.5em;
    
}

hr {
    
/*    border-top: 1px solid #EE2A7B;*/
    border: 0;
background-color: #EE2A7B;
height: 1px;
    margin: auto;
    margin-top: 50px;
    width: 50px;
    
}


img.banner {
    
    width: 90%;
    padding: 30px 0;
    margin: auto;
    display: block;
}

.banner-wrapper {
    border-top: 10px solid #6BCDEF;
    border-bottom: 10px solid #6BCDEF;
    
}

div.colour-line {
    
    height: 10px;
    background-image: url(../images/colourful-line.png)
/*    background-repeat: repeat-x;*/
}

h1.meetthemon {
    
    text-align: center;
    padding: 100px;
/*    border-top: 10px solid #6BCDEF;*/

    
}


section.monster1 {
    
    background-color: #27236A;
    color: #dedede;
    
}


section.monster2 {
    
    background-color: #57E0E7;
}


section.monster3 {
    
    background-color: #B7EA34;
}


section.monster4 {
    
    background-color: #FEF75C;
}



section.monster5 {
    
    background-color: #00EDFF;
}


section.monster6 {
    
    background-color: #FABF00;
}


section.monster7 {
    
    background-color: #01A1F2;
    color: #dedede;
}


section.monster8 {
    
    background-color: #14EFF5;
}


section.monster9 {
    
    background-color: #7451E2;
    color: #dedede;
}


section.monster10 {
    
    background-color: #37D4FF;
    
}

section.monster11 {
    
    background-color: #70FF90;
}


section.monster12 {
    
    background-color: #DEBDEC;
}

figure, ficaption {
    
    text-align: center;
    
}


section figure {
    
    float: left;
}

figure.opposite-side, figure.opposite-side-showcase {
  float: right;   
}


figure, figure img {
    
    width: 300px
    
}

figure.opposite-side-showcase img{
    
    width: 400px;
    
}


figure.opposite-side-showcase {
    
    padding-right: 130px;
    
}

div.about-monsters {
    
    float: left;
    padding-left: 150px;
    
}

div.about-monsters-opposite {
    
    float: left;
    padding-left: 50px;
    
}


h1, div.about-monsters h1, div.about-monsters-opposite h1, .sec-showcase h1 {
    
    font-size: 3em;
    font-weight: 100;
    
}

 .sec-showcase h1, .letusknow h1, .letusknow h2 {
     
     text-align: center;
     
 }


.letusknow h2 {
    
/*    padding: 50px;*/
    font-size: 2.5em;
    font-weight: 100;
    padding-right: 20px;
    
}



div.about-monsters p, div.about-monsters-opposite p {
    padding-top: 10px;
    padding-left: 3px; /* put in line with h1 */
    width: 300px;
    font-weight: 300;
    font-size: 1.1em;
    
}


div.about-monsters ul, div.about-monsters-opposite ul {
    
    font-weight: 300;
    
}

div.about-monsters ul li, div.about-monsters-opposite ul li {
    
    list-style: none;
    padding: 3px 0;
    font-size: 1.1em;
    
}

div.wrapper {
    
/*    float: left;*/
    width: 800px;
    margin: auto;
 
}

.showcase-wrapper {
    
    margin-top: 50px; /* was 100 */
    
}

.showcase-wrapper p {
    
    margin-top: 10px;

}


a.download-link {
    
    background-color: #B7EA34;
    padding: 10px;
    width: 130px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 4px rgba(150, 150, 150, 0.36);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(171,169,171,1);
-moz-box-shadow: 0px 2px 6px 0px rgba(171,169,171,1);
box-shadow: 0px 2px 6px 0px rgba(171,169,171,1);
}

a.download-link, a:hover.download-link {
    
    border: none;
    
}


img.monster-heads {
    
    width: 100%;
    border-bottom: 10px solid #6BCDEF;
}

section.letusknow {
    
    padding-bottom: 20px;
        border-top: 10px solid #6BCDEF;
/*    border-bottom: 100px solid #6BCDEF;*/
    
}

.letusknow div h2, .letusknow div p {
    
    display: inline;
    
    
}

.letusknow div {
    
    text-align: center;
    padding: 50px;
    
}

.letusknow div p {
    
 
}


footer {
    
    text-align: center;
    padding: 50px;
    font-size: 0.8em;
}


/* Icon Hang from http://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}


.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

